@import '../../global.scss';

.projects {
  //background: rgb(175, 111, 111);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .section-title {
      @include sectionTitle;
      //background: blue;
      margin: 0;
      z-index: 2;
  }
  .wrapper {
    z-index: 2;

    margin: 0;
    .project-title {
      @include projectTitle;
      margin: 0 0 em 0;
      padding: 0;
      //background: blue;
    }
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    //background: darkgoldenrod;
    padding: 1%;
    margin: 0;
    .preview-img {
      @include boxShadow;
      border-radius: 14px;
      width: 100%;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background-color: $navbarColor;
      .project-img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .preview-video {
      @include boxShadow;
      border-radius: 14px;
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background-color: $navbarColor;
      .project-video {
        object-fit: cover;
        height: 100%;
        overflow: hidden;
      }
    }
    .tech-stack {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      //background-color: bisque;
      width: 100%;
      height: auto;
      margin-top: 2%;
      span {
        font-size: .8em;
        margin-right: 2em;
        color: $titleColor;
        background: $techStackColor;
        border-radius: 5px;
        padding: .5em 1em;
      }

    }
    .buttons {
      margin-top: 2%;
      //background: brown;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      button {
        @include button;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: 600;
        width: 45%;
        .btn-icon {
          //margin-left: 5px;
          font-size: 1.5em;
          //background: red;
        }
        

      }
    }
    .description {
      margin-top: 2%;
      color: $textColor;
    }

  }
}