@import '../../global.scss';

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  h2 {
    @include sectionTitle;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: auto;

    .description {
      font-size: 1em;
      text-align: center;
      word-break: break-word;
    }
  }
}
