@import '../../global.scss';

.intro {
  width: 100%;
  height: 100px;
  display: flex;

  .left {
    flex: 0.5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //z-index: -1;
    // .intro-shape{

    //   width: 50%;
    //   height: 500px;
    //   background:rgb(190, 130, 130);
    //   z-index: 2;
    //   //border-radius: 100%;
    //   //transform-origin: right;
    // }
  }
  .right {
    flex: 0.5;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;

    .wrapper{
      display: inline-block;
      //background: white;
      height: auto;
      margin-top: 0px;
      margin-bottom: 10%;
      
      h1{
        font-size: 4em;
        //background: green;
        margin-top: .5em;
        margin-bottom: 0px;
        color: $titleColor;
      }
      h2{
        color: $titleColor;
        font-size: 3em;
        margin: 0px;
        //background: hotpink;
      }
      h3{
        //background: red;
        font-weight: 500;
        font-size: 2em;
        margin: 0px;
        color: $buttonsColor;
        span {
          color : $specialColor;
        }
      }
    }
  }
}