@import '../src/global.scss';
@import '/src/responsive/breakpoints.scss';

.app {
  scroll-behavior: smooth;
  height: 100vh;
  position: relative;
  background-color: $backgroundColor;
  // overflow-x: hidden;
  // overflow-y: auto;


  .webgl-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
   // z-index: 0;

  }



    .sections {
      width: 100%;
      height: calc(100vh - 70px);
      position: relative;
      top: 70px;
      scroll-snap-type: y mandatory;
      //scrollbar-width: none;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        //display: none;
      }
      

       > *{
          width: 100%;
          min-height: calc(100vh - 70px);
          height: auto;

          @include media("<=bigPhone") {
            height: auto;
          }
          @include media(">=bigPhone", "<=tablet") {
            height: auto;
      
          }
    
          
       }
       
       
    }
}